.pricing {
  background-color: var(--gray-2);
  height: 100%;
  width: 95vw;
  height: 90vh;
  border-radius: 1.2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.planes {
  width: 100%;
  height: 100%;
  padding: 4rem 4vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 3rem;
}
.saveMoney {
  background-color: var(--brand-3);
  grid-column: 1/2;
  grid-row: 1/-1;
  border-radius: 1.2rem;
  padding: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}

.title {
  grid-column: 2/-1;
  grid-row: 1/2;
  /* background-color: var(--gray); */
  border-radius: 1.2rem;
  border: 2px solid var(--gray);
  padding: 2rem;
  border-radius: 1.2rem;
  color: var(--gray);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title__header h1 {
  font-weight: 400;
  line-height: 1;
}
.title__header h1 span {
  font-weight: 700;
  font-size: 7.8rem;
  color: var(--brand-1);
}

.title__readMore {
  font-size: 2.1rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  align-self: flex-start;
}
.title__link {
  color: var(--white);
}
.freePlan {
  grid-column: 2/3;
  grid-row: 2/-1;
  background-color: var(--white);
  border-radius: 1.2rem;
  padding: 4rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}
.freePlan__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--gray);
}

.freePlan__body {
  padding: 2rem 0;
}

.freePlan__body h4 {
  font-size: 2.1rem;
  margin-bottom: 2rem;
  opacity: 50%;
}

.freePlan__body p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.freePlan__btn {
  cursor: pointer;
  padding: 1.5rem;
  background-color: var(--brand-2);
  border-radius: 0.6rem;
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all 0.2s;
}

.freePlan__btn:hover {
  filter: brightness(130%);
}

.proPlan {
  grid-column: 3/-1;
  grid-row: 2/-1;
  background-color: var(--brand-1);
  border-radius: 1.2rem;
  padding: 4rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}

.proPlan__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--white);
  color: var(--white);
}

.proPlan__body {
  padding: 2rem 0;
  color: var(--white);
}

.proPlan__body h4 {
  font-size: 2.1rem;
  margin-bottom: 2rem;
  opacity: 50%;
}

.proPlan__body p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.proPlan__btn {
  cursor: pointer;
  padding: 1.5rem;
  background-color: var(--white);
  color: var(--brand-1);
  border-radius: 0.6rem;
  font-size: 2.1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all 0.2s;
}

.proPlan__btn:hover {
  filter: brightness(130%);
}

.saveMoney__title {
  color: var(--white);
  font-weight: 100;
  line-height: 1;
  margin-bottom: 2rem;
}

.saveMoney__title span {
  font-weight: 700;
  font-size: 7.8rem;
}

.saveMoney p {
  font-size: 2.1rem;
  color: var(--white);
  z-index: 150;
}

.saveMoney img {
  width: 60%;
  align-self: center;
  filter: contrast(150%);
  position: absolute;
  bottom: 20%;
  right: 30%;
  transform: translate(50%, 50%);
  z-index: 100;
}
