.pricing {
  background-color: var(--gray);
  height: 100%;
  width: 95vw;
  height: 90vh;
  border-radius: 1.2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
