.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.6rem;
  border-radius: 0.6rem;
  height: 4.8rem;
  padding: 1.5rem;
  text-transform: capitalize;
  transition: all 0.2s;
}

.back {
  background-color: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  font-weight: 600;
}
.primary {
  background-color: var(--brand-1);
  color: var(--white);
  font-weight: 600;
}

.btn:hover {
  filter: brightness(130%);
}
