.appNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.appNav ul {
  width: 100%;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--gray-2);
  border-radius: 0.6rem;
}

.appNav li {
  flex: 1;

  background-color: var(--white);
  text-align: center;
  border-radius: 0.6rem;
}

.appNav a {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--gray);
  font-weight: 600;
}

#li a.active {
  background-color: red !important;
}
.inactive {
  color: green;
}
