.page_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10rem;
  padding: 0 4vw;
  backdrop-filter: blur(5px);
  box-shadow: 0 1rem 5rem #00000010;
  border-bottom: 2px solid #ffffff20;
}

.page_nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.page_nav li {
}

:global(.active) {
  background-color: var(--brand-3);
  color: var(--white);
}

.nav_link {
  color: var(--white);
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 0.7rem;
  font-size: 2.1rem;
  font-weight: 700;
}
.link {
  text-decoration: none;
}
