.page_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 12rem;
  padding: 0 4vw;
  backdrop-filter: blur(8px);
  box-shadow: 0 2rem 5rem #00000010;
  border-bottom: 1px solid #ffffff10;
  background-color: #00000035;
}

.page_nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.page_nav li {
}

:global(.active) {
  color: var(--brand-1) !important;
  font-weight: 600 !important;
}

.nav_link {
  color: var(--white);
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 0.6rem;
  font-size: 2.1rem;
  font-weight: 600;
}
.link {
  text-decoration: none;
}

.ctaLink {
  color: var(--white) !important;
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 0.6rem;
  font-size: 2.1rem;
  font-weight: 600;
  background-color: var(--brand-1);
}
