.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.logo img {
  filter: contrast(120%);
  width: 15%;
  height: auto;
}

.logo h2 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -1px;
  color: var(--white);
}
