:root {
  --white: #f7f5f9;
  --brand-1: #fd3624;
  --brand-2: #fd281c;
  --brand-3: #d82432;
  --black: #000000;
  --gray: #333333;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  height: 5.6rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(120%);
}
li {
  list-style: none;
  text-decoration: none;
}
